# Malicious package
shaderz==0.0.1

# Malicious package
aioconsol==1.0

# CVE-2018-25033
admesh==0.98.1

# CVE-2021-43775
aim==2.1.0

httpssp==0.0.0
xhttpsp==1.0
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
